<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.commutr.com.commutr"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".CommutrApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TranslucentStatusBar" >

        <service
            android:name="android.commutr.com.commutr.services.LocationSubmissionService"
            android:exported="false"
            android:label="@string/app_name" >
        </service>

        <activity
            android:name=".base.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommuteActivity"
            android:label="@string/title_activity_commute" >
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="f8162238dc0de3bfea52e05090ad6639bc94d6c0"/>
    </application>

</manifest>
